.card{
    margin-top: -1cm;
}

.blockquote-footer{
    margin-top: 1px;
    color: white;
    font-size: small;
}

.card{
    background-color: black;
}

.font{
    font-size: medium;
    color: white;
}

.card-header{
    font-size: large;
    color: rgb(248, 164, 46)

}


