<app-navbar></app-navbar>
<body class="sobre">
<h2>Qual o contexto de Star Wars?</h2>
<p>O centro da trama é uma disputa política entre um império tirano e ditatorial e um grupo libertário. 
O enredo é permeado pela tragédia pessoal de Anakin Skywalker, um jedi (do bem) que sucumbe ao Lado Sombrio da Força (do mal) se transformando 
no vilão Darth Vader, que é um dos líderes do Império Galático.</p>
<h2>O que faz Star Wars ser tão bom?</h2>
<p>Não é à toa que “Star Wars” é considerada uma das obras-primas do cinema: como 25 nomeações ao Oscar (só o primeiro filme venceu 6), um faturamento astronômico avaliado em cerca de 4,5 bilhões de dólares e um legado inesquecível,
o primeiro filme da franquia, “Uma Nova Esperança”, estreou em 25 de maio de 1977.</p>
<h2>O que podemos aprender com Star Wars?</h2>
<p>Não seja cabeça dura. Talvez, essa seja a lição mais forte que aprendemos em Star Wars. 
 Sempre que alguém desobedece aos conselhos de um mentor sábio ou acha que é forte o suficiente para fazer tudo sozinho, esse personagem acaba aprendendo a lição da pior maneira.</p>
</body>
 <app-footer></app-footer>